<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1><i class="fas fa-air-freshener"></i>
    <p>
      Tu t'es inscrit sur besteventsintown en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= "https://besteventsintown.herokuapp.com"%>.
    </p>
    <p> À très vite !
  </body>
</html>