<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Tu t'es bien inscrit à l'événement suivant : <%= @event.title %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= "www.google.com" %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>